<div class="container">
  <h2 class="mt-4">Hola Propietario</h2>
  <p>Aca podras visualizar el listado de expensas sus detalles</p>
  <hr class="my-4">
  <div class="row  d-flex mb-3 justify-content-center">
    <div class="col-md-6 justify-content-center">
      <label for="searchInput" class="form-label mb-0">Buscador general</label>
      <input type="text" class="form-control" id="searchInput" [(ngModel)]="searchText" (input)="searchTable()"
        placeholder="Escribe para buscar...">
    </div>

    <form [formGroup]="fechasForm" class="col-md-6 justify-content-center">
      <div class="row g-3 justify-content-center align-items-end">
        <div class="col-md-4">
          <label for="fechaInicio" class="form-label mb-0">Fecha Inicio</label>
          <input type="date" class="form-control" formControlName="fechaInicio" id="fechaInicio">
        </div>
        <div class="col-md-4">
          <label for="fechaFin" class="form-label mb-0">Fecha Fin</label>
          <input type="date" class="form-control" formControlName="fechaFin" id="fechaFin">
        </div>
        <div class="col-md-4">
          <button class="btn btn-dark" type="button" (click)="enviarFechas()">Buscar</button>
        </div>
      </div>
    </form>
  </div>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col" class="text-center">Propietario</th> -->
        <th scope="col" class="text-center">Periodo</th>
        <th scope="col" class="text-center">Vencimiento</th>
        <th scope="col" class="text-center">Total</th>
        <th scope="col" class="text-center">Estado</th>
        <th scope="col" class="text-center">Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of filteredTickets; track $index) {

      <tr>
        <th scope="row" class="text-center">{{item.issueDate | date:'MMMM-Y'}}</th>
        <td class="text-center">{{item.expirationDate| date:'MM/YYYY'}}</td>
        <td class="text-center">{{ calculateTotal(item) | currency }}</td>
        <td class="text-center">
          <span class="badge" [ngClass]="{
                    'bg-success': item.status === 'PAGADO',
                    'bg-danger': item.status === 'CANCELED',
                    'bg-warning': item.status === 'PENDIENTE'
                  }">
            {{ item.status }}
          </span>
        </td>

        <td class="text-center">
          <div class="btn-group">
            <button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Accion
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ticketModal"
                  (click)="selectTicket(item)">Ver expensa</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#statusModal"
                  (click)="selectTicket(item)">Pagar con transferencia</a></li>
              <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#ticketModal" (click)="selectTicket(item)">Pagar con Mercadopago</a></li>
            </ul>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="ticketModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ticketModalLabel">Factura - Ticket N° {{ ticketSelectedModal.id }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <strong>Dirigido a:</strong> {{ ticketSelectedModal.id }}
          </div>
          <div class="col-md-6 text-end">
            <strong>Fecha de emisión:</strong> {{ ticketSelectedModal.issueDate | date: 'dd/MM/yyyy' }}<br>
            <strong>Fecha de expiración:</strong> {{ ticketSelectedModal.expirationDate | date: 'dd/MM/yyyy' }}
          </div>
        </div>
        <hr>

        <table class="table table-bordered">
          <thead class="table-warning">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descripción</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Precio Unitario</th>
              <th scope="col">Costo Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of ticketSelectedModal?.ticketDetails; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.description}}</td>
              <td>{{ item.amount | currency }}</td>
              <!-- <td>{{ item.price | currency }}</td> -->
              <!-- <td>{{ (item.quantity * item.price) | currency }}</td> -->
            </tr>
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-6">
            <strong>Estado:</strong>
            <span [ngClass]="{
                'badge bg-success': ticketSelectedModal.status === 'PAGADO',
                'badge bg-danger': ticketSelectedModal.status === 'CANCELED',
                'badge bg-warning': ticketSelectedModal.status === 'PENDIENTE'
              }">
              {{ ticketSelectedModal.status }}
            </span>
          </div>
          <div class="col-md-6 text-end">
            <strong>Total:</strong> {{ calculateTotal(ticketSelectedModal) | currency }}
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <!-- <button type="button" class="btn btn-primary" (click)="pagar()">Pagar</button> -->
        <div id="wallet_container"></div>

      </div>
    </div>
  </div>
</div>

<!-- Modal Comprobante de Transferencia -->
<div class="modal fade" id="statusModal" tabindex="-1" aria-labelledby="ticketModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="ticketModalLabel">Cargar comprobante de transferencia</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <div class="row mb-4">
                  <div class="col-md-6">
                      <h6 class="mb-0">ID Factura: <strong>{{ ticketSelectedModal.id }}</strong></h6>
                  </div>
                  <div class="col-md-6">
                      <h6 class="mb-0">ID Propietario: <strong>{{ ticketSelectedModal.id }}</strong></h6>
                  </div>
                  <div class="col-md-6">
                      <h6 class="mb-0">Fecha de Emisión: <strong>{{ ticketSelectedModal.issueDate| date: 'dd/MM/yyyy' }}</strong></h6>
                  </div>
                  <div class="col-md-6">
                      <h6 class="mb-0">Fecha de Expiración: <strong>{{ ticketSelectedModal.expirationDate | date: 'dd/MM/yyyy' }}</strong></h6>
                  </div>
              </div>
              <hr>
              <div class="d-flex justify-content-center">
                <div class="input-group mb-3">
                  <input type="file" class="form-control" id="inputGroupFile02" (change)="onFileSelected($event)">
                  <label class="input-group-text" for="inputGroupFile02">Subir comprobante</label>
                </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
              <button type="button" class="btn btn-primary" [disabled]="!selectedFile" (click)="onUpload()">Cargar Comprobante</button>
   
          </div>
      </div>
  </div>
</div>