<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- Sidebar - ocupa el 20% -->
        <div class="bg-dark col-2 min-vh-100">
            <div class="bg-dark p-2">
                <a class="d-flex text-decoration-none mt-1 justify-content-center align-items-center text-white text-center">
                    <span class="fs-4 text-center">Menu Expensas</span>
                </a>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="'owner-list-expensas'">
                          <span class="fs-5 ms-3">Expensas propietario</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="'admin-list-expensas'">
                          <span class="fs-5 ms-3">Expensas administrador</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="'review-tickets-transfer'">
                          <span class="fs-5 ms-3">Revisar Comprobantes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" [routerLink]="'stadistics'">
                            <span class="fs-5 ms-3">Estadísticas</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
  
        <!-- Main content - ocupa el 80% -->
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
    </div>
  </div>
  